:root {
  --active-bg: red;
  --active-fg: white;
}

button.active {
  background-color: var(--active-bg);
  color: var(--active-fg);
}
.map {
  width: 80vw;
  height: 80vh;
}
.map-section {
  position: relative;
}